@{
    ViewBag.Title = "New";
}

<h2>Add</h2>
<a href="/Brand/List">Back to List</a>
<form method="POST" action="/Brand/Add">
    <div><span>Name:</span><input type="text" id="BrandName" name="BrandName" /></div>
    <div><input type="submit" value="Add New Brand" /></div>
</form>
