@model PassionProject_PhoneBlog_n01364240.Models.Brand
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.BrandName?</h2>
<div class="navbar">
    <a href="/Brand/Show/@Model.BrandID">Cancel</a>
</div>
<form method="POST" action="/Brand/Delete/@Model.BrandID">
    <div class="inpfield"><input type="submit" value="Confirm" /></div>
</form>
