@model PassionProject_PhoneBlog_n01364240.Models.Brand
@{
    ViewBag.Title = "Update";
}

<h2>Update @Model.BrandName</h2>
<a href="/Brand/List">Back to List</a>

<form method="post" action="/Brand/Update/@Model.BrandID">
    <input type="text" id="BrandName" name="BrandName" value="@Model.BrandName" />
    <input type="submit" value="Update Brand" />
</form>

